body {
    padding-top: 1em;
    background-color: rgba(0, 0, 0, 0.02);
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
}

div.container-large {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

span.loading {
    color: gray;
}

h3.nomartop {
    margin-top: 0;
}
